/*------------------------------------------------------------------
    [Master Stylesheet]

    Project:     interactivecreativedesigner - Sliding Portfolio Template
    Author:      chok rivera 
    Version:     1.1
    Last change: 18/11/2016
-------------------------------------------------------------------*/

/*------------------------------------------------------------------

    [Table of contents]

    1. General
    2. Preloader
    3. Topbar
    4. Content Slider
    5. Services
    6. Portfolio
    7. About
    8. Contact 
    9. Custom Scrollbar
    10. Responsive / Media Queries


-------------------------------------------------------------------*/


/*-----------------------------------------------

             1. General Style


------------------------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1.9rem;
    font: inherit;
    vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block
}

body {
    color: #2d2f31;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    overflow-x: hidden
}

.loading-text {
    color: #fff
}

h1 {
    font-size: 2.8rem
}

h2 {
    font-size: 2.5rem
}

h3 {
    font-size: 2.2rem
}

h4 {
    font-size: 1.9rem
}

h5 {
    font-size: 1.6rem
}

h6 {
    font-size: 1.3rem
}

p {
    font-size: 1.4rem;
    line-height: 1.8;
    font-weight: 400;
    color: #5b5d5f;
    margin: 0
}

img {
    width: 100%
}

ol,
ul {
    list-style: none
}

@-webkit-keyframes baranim {
    0% {
        -webkit-transform: translateX(-30vw)
    }
    100% {
        -webkit-transform: translateX(130vw)
    }
}

@-moz-keyframes baranim {
    0% {
        -moz-transform: translateX(-30vw)
    }
    100% {
        -moz-transform: translateX(130vw)
    }
}

@keyframes baranim {
    0% {
        -webkit-transform: translateX(-30vw);
        -moz-transform: translateX(-30vw);
        -ms-transform: translateX(-30vw);
        -o-transform: translateX(-30vw);
        transform: translateX(-30vw)
    }
    100% {
        -webkit-transform: translateX(130vw);
        -moz-transform: translateX(130vw);
        -ms-transform: translateX(130vw);
        -o-transform: translateX(130vw);
        transform: translateX(130vw)
    }
}

html {
    font-size: 62.5%
}

.scroll-touch {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

body,
html {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    width: 100%
}

body,
input,
select,
textarea {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: #fff
}

a:hover {
    color: #112289;
    text-decoration: none !important;
    outline: none !important
}

a:active,
a:focus {
    outline: none !important;
    text-decoration: none !important;
    color: #fff
}

.btn {
    background-color: transparent;
    display: inline-block;
    position: relative;
    z-index: 1;
    font-weight: 700;
    color: #2d2f31;
    line-height: 1.5;
    cursor: pointer
}

.btn::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
    background: #2d2f31;
    opacity: 1
}

.btn:hover::before {
    bottom: -.3em;
    opacity: 0
}

strong,
b {
    font-weight: 700
}

em,
i {
    font-style: italic
}

i {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2D2F31;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 1.5rem 0
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    color: inherit
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em
}

.clear {
    clear: both
}

.display-none {
    display: none !important
}

.align-left {
    text-align: left
}

.align-center {
    text-align: center
}

.align-right {
    text-align: right
}

.no-margin-bottom {
    margin-bottom: 0
}

.opacity-0 {
    opacity: 0 !important;
    visibility: hidden !important
}

.opacity-03 {
    opacity: 0.3 !important
}

.opacity-1 {
    opacity: 1 !important;
    visibility: visible !important
}

.index-999 {
    z-index: -999 !important
}

.about-right a {
    display: inline-block;
    text-decoration: none;
    color: #222;
    position: relative
}

.about-right a::after {
    content: '';
    position: absolute;
    width: 0;
    top: 100%;
    left: 0;
    height: 5%;
    background: #2D2F31;
    transition: 0.25s ease
}

.about-right a:hover::after {
    width: 100%;
    text-decoration: underline
}


/*-----------------------------------------------

                  2. Preloader


------------------------------------------------*/

#loading {
    width: 100vw;
    height: 100vh;
    background: rgba(39, 46, 56, 0.7);
    position: fixed;
    z-index: 2147483647;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

#loading.dark-back {
    background: #272e38
}

.cssload-preloader {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 10;
}

.cssload-preloader > .cssload-preloader-box {
	position: absolute;
	height: 29px;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -146px;
	perspective: 195px;
		-o-perspective: 195px;
		-ms-perspective: 195px;
		-webkit-perspective: 195px;
		-moz-perspective: 195px;
}

.cssload-preloader .cssload-preloader-box > div {
	position: relative;
	width: 29px;
	height: 29px;
	background: rgb(204,204,204);
	float: left;
	text-align: center;
	line-height: 29px;
	font-family: Verdana;
	font-size: 19px;
	color: rgb(255,255,255);
}.cssload-preloader .cssload-preloader-box > div:nth-child(1) {
	background: rgb(51,102,255);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 0ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 0ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 0ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 0ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 0ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(2) {
	background: rgb(51,102,255);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 86.25ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 86.25ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 86.25ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 86.25ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 86.25ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(3) {
	background: rgb(51,102,255);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 172.5ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 172.5ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 172.5ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 172.5ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 172.5ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(4) {
	background: rgb(51,102,255);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 258.75ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 258.75ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 258.75ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 258.75ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 258.75ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(5) {
	background: rgb(51,102,255);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 345ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 345ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 345ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 345ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 345ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(6) {
	background: rgb(51,102,255);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 431.25ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 431.25ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 431.25ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 431.25ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 431.25ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(7) {
	background: rgb(51,102,255);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 517.5ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(8) {
	background: rgb(51,102,255);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 603.75ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 603.75ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 603.75ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 603.75ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 603.75ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(9) {
	background: rgb(51,102,255);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 690ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 690ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 690ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 690ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 690ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(10) {
	background: #3366FF;
	margin-right: 15px;
	animation: cssload-movement 690ms ease 776.25ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(11) {
	background: #3366FF;
	margin-right: 15px;
	animation: cssload-movement 690ms ease 862.5ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 862.5ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 862.5ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 862.5ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 862.5ms infinite alternate;
}


@keyframes cssload-movement {
	from {
		transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 39px rgba(0,0,0,0.4);
		background: #3399FF;
	}
}

@-o-keyframes cssload-movement {
	from {
		-o-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-o-transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 39px rgba(0,0,0,0.4);
		background: #3399FF;
	}
}

@-ms-keyframes cssload-movement {
	from {
		-ms-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-ms-transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 39px rgba(0,0,0,0.4);
		background: #3399FF;
	}
}

@-webkit-keyframes cssload-movement {
	from {
		-webkit-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-webkit-transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 39px rgba(0,0,0,0.4);
		background: #3399FF;
	}
}

@-moz-keyframes cssload-movement {
	from {
		-moz-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-moz-transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 39px rgba(0,0,0,0.4);
		background: #3399FF;
	}
}

    .position: fixed;
    width: 100%;
    top: 49vh;
    z-index: 10;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    text-align: center;
    text-transform: uppercase
}

#loading span {
    position: fixed;
    width: 100%;
    top: 49vh;
    z-index: 10;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    text-align: center;
    text-transform: uppercase
}

/*-----------------------------------------------

                 3. Top-bar


------------------------------------------------*/

.top-bar {
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    z-index: 1000
}

.top-bar .top-bar-left {
    padding-left: 50px
}

.top-bar .top-bar-right {
    padding-right: 50px
}

.top-bar p {
    color: #6564dc
}

.top-bar .top-bar-left {
    text-align: left
}

.top-bar .top-bar-left p.social-text a {
    margin: 0 0.4rem;
    color: #6564dc
}

.top-bar .top-bar-left p.social-text a:hover {
    color: #fff
}

.top-bar .top-bar-left p.social-text a:last-child {
    margin-right: 0
}

.top-bar .top-bar-left p.social-icon a {
    color: #bebebe;
    width: 3rem;
    letter-spacing: 0;
    background: transparent;
    font-size: 1.5rem;
    display: inline-block;
    text-align: center;
    border: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.top-bar .top-bar-left p.social-icon a:hover {
    color: #6564dc
}

.top-bar .top-bar-left p.social-icon a:hover i {
    color: #6564dc
}


/*-----------------------------------------------

                 4. Content Slider


------------------------------------------------*/

.sl-slider-wrapper {
    overflow: hidden;
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	
}

.sl-slider-wrapper {
    overflow: hidden;
    position: absolute;
    width: auto;
    height: auto;
    top: 50px;
    left: 50px;
    bottom: 50px;
    right: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 1.19);
}

.sl-slider-wrapper .sl-slider {
    position: absolute;
    top: 0;
    left: 0
}

.sl-slider-wrapper .sl-slider .sl-slide,
.sl-slider-wrapper .sl-slider .sl-slides-wrapper,
.sl-slider-wrapper .sl-slider .sl-slide-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.sl-slider-wrapper .sl-slider .sl-slide-inner {
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center
}

.sl-slider-wrapper .sl-slider .sl-slide-inner:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.sl-slider-wrapper .sl-slider .sl-slide-inner,
.sl-slider-wrapper .sl-slider .sl-content-slice {
    background-size: cover
}

.sl-slider-wrapper .sl-slider .sl-slide {
    z-index: 1
}

.sl-content-slice {
    overflow: hidden;
    position: absolute;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: #fff;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 1
}

.sl-slide-horizontal .sl-content-slice {
    width: 100%;
    height: 50%;
    left: -200px;
    -webkit-transform: translateY(0%) scale(1);
    -moz-transform: translateY(0%) scale(1);
    -o-transform: translateY(0%) scale(1);
    -ms-transform: translateY(0%) scale(1);
    transform: translateY(0%) scale(1)
}

.sl-slide-horizontal .sl-content-slice:first-child {
    top: -200px;
    padding: 200px 200px 0px 200px
}

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
    top: 50%;
    padding: 0px 200px 200px 200px
}

.sl-slide-vertical .sl-content-slice {
    width: 50%;
    height: 100%;
    top: -200px;
    -webkit-transform: translateX(0%) scale(1);
    -moz-transform: translateX(0%) scale(1);
    -o-transform: translateX(0%) scale(1);
    -ms-transform: translateX(0%) scale(1);
    transform: translateX(0%) scale(1)
}

.sl-slide-vertical .sl-content-slice:first-child {
    left: -200px;
    padding: 200px 0px 200px 200px
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
    left: 50%;
    padding: 200px 200px 200px 0px
}

.sl-content-wrapper {
    position: absolute
}

.sl-content {
    width: 100%;
    height: 100%
}

.sl-trans-elems h1 {
    -webkit-animation: moveUp 1s ease-in-out both;
    -moz-animation: moveUp 1s ease-in-out both;
    animation: moveUp 1s ease-in-out both
}

.sl-trans-elems h2 {
    -webkit-animation: moveUp 1s ease-in-out both;
    -moz-animation: moveUp 1s ease-in-out both;
    animation: moveUp 1s ease-in-out both
}

.sl-trans-elems h3 {
    -webkit-animation: moveUp 1s ease-in-out both;
    -moz-animation: moveUp 1s ease-in-out both;
    animation: moveUp 1s ease-in-out both
}

.sl-trans-elems p {
    -webkit-animation: fadeIn 0.5s linear 0.5s both;
    -moz-animation: fadeIn 0.5s linear 0.5s both;
    animation: fadeIn 0.5s linear 0.5s both
}

.sl-trans-elems figure {
    -webkit-animation: fadeIn 0.5s linear 0.5s both;
    -moz-animation: fadeIn 0.5s linear 0.5s both;
    animation: fadeIn 0.5s linear 0.5s both
}

.sl-trans-elems .icon {
    -webkit-animation: fadeIn 0.5s linear 0.5s both;
    -moz-animation: fadeIn 0.5s linear 0.5s both;
    animation: fadeIn 0.5s linear 0.5s both
}

.sl-trans-elems #contact-form,
.sl-trans-elems .info-contact {
    -webkit-animation: moveUp 1s ease-in-out both;
    -moz-animation: moveUp 1s ease-in-out both;
    animation: moveUp 1s ease-in-out both
}

.sl-trans-elems .action-btn {
    -webkit-animation: moveUp 1s ease-in-out both;
    -moz-animation: moveUp 1s ease-in-out both;
    animation: moveUp 1s ease-in-out both
}

.sl-trans-back-elems .deco {
    -webkit-animation: scaleDown 1s ease-in-out both;
    -moz-animation: scaleDown 1s ease-in-out both;
    animation: scaleDown 1s ease-in-out both
}

.sl-trans-back-elems h2 {
    -webkit-animation: fadeOut 1s ease-in-out both;
    -moz-animation: fadeOut 1s ease-in-out both;
    animation: fadeOut 1s ease-in-out both
}

.sl-trans-back-elems blockquote {
    -webkit-animation: fadeOut 1s linear both;
    -moz-animation: fadeOut 1s linear both;
    animation: fadeOut 1s linear both
}

@-webkit-keyframes roll {
    0% {
        -webkit-transform: translateX(500px) rotate(360deg)
    }
    100% {
        -webkit-transform: translateX(0px) rotate(0deg)
    }
}

@-moz-keyframes roll {
    0% {
        -moz-transform: translateX(500px) rotate(360deg)
    }
    100% {
        -moz-transform: translateX(0px) rotate(0deg)
    }
}

@keyframes roll {
    0% {
        -webkit-transform: translateX(500px) rotate(360deg);
        -moz-transform: translateX(500px) rotate(360deg);
        -ms-transform: translateX(500px) rotate(360deg);
        -o-transform: translateX(500px) rotate(360deg);
        transform: translateX(500px) rotate(360deg)
    }
    100% {
        -webkit-transform: translateX(0px) rotate(0deg);
        -moz-transform: translateX(0px) rotate(0deg);
        -ms-transform: translateX(0px) rotate(0deg);
        -o-transform: translateX(0px) rotate(0deg);
        transform: translateX(0px) rotate(0deg)
    }
}

@-webkit-keyframes moveUp {
    0% {
        -webkit-transform: translateY(40px)
    }
    100% {
        -webkit-transform: translateY(0px)
    }
}

@-moz-keyframes moveUp {
    0% {
        -moz-transform: translateY(40px)
    }
    100% {
        -moz-transform: translateY(0px)
    }
}

@keyframes moveUp {
    0% {
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px)
    }
    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px)
    }
}

@-webkit-keyframes moveDown {
    0% {
        -webkit-transform: translateY(-40px)
    }
    100% {
        -webkit-transform: translateY(0px)
    }
}

@-moz-keyframes moveDown {
    0% {
        -moz-transform: translateY(-40px)
    }
    100% {
        -moz-transform: translateY(0px)
    }
}

@keyframes moveDown {
    0% {
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
        transform: translateY(-40px)
    }
    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px)
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes scaleDown {
    0% {
        -webkit-transform: scale(1)
    }
    100% {
        -webkit-transform: scale(0.5)
    }
}

@-moz-keyframes scaleDown {
    0% {
        -moz-transform: scale(1)
    }
    100% {
        -moz-transform: scale(0.5)
    }
}

@keyframes scaleDown {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
    100% {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5)
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.nav-arrows span {
    position: absolute;
    z-index: 2000;
    top: 50%;
    width: 4rem;
    height: 4rem;
    border: 0.2rem solid rgba(153, 153, 153, 0.3);
    text-indent: -1000%;
    margin-top: -4rem;
    cursor: pointer;
    opacity: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.nav-arrows span.show-arrows {
    opacity: 1
}

.nav-arrows span:hover {
    border-color: rgba(153, 153, 153, 0.6)
}

.nav-arrows span.nav-arrow-prev {
    left: 5%;
    border-right: none;
    border-top: none
}

.nav-arrows span.nav-arrow-prev:hover {
    left: 4.7%
}

.nav-arrows span.nav-arrow-next {
    right: 5%;
    border-left: none;
    border-bottom: none
}

.nav-arrows span.nav-arrow-next:hover {
    right: 4.7%
}

.nav-multi-square {
    float: right;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8;
    margin: 0
}

.nav-multi-square .nav-square {
    color: #bebebe;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    letter-spacing: 0;
    padding: 0 20px;
    text-align: center;
    transition: all 0.2s ease-in-out 0s
}

.nav-multi-square .nav-square:hover {
    color: #6564dc
}

.nav-multi-square .nav-square.nav-square-current {
    color: #6564dc !important
}

.content-slide {
    position: relative;
    z-index: 10;
    left: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 100vh;
    text-align: center;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 1;
    visibility: visible
}

.bg-1 .content-slide {
    text-align: left;
 
}

.content-slide .container {
    padding: 13rem 10rem 20rem
}

.content-slide h1 {
    text-transform: uppercase
}

.content-slide h2 {
    margin-bottom: 3rem
}

.content-slide p {
    font-size: 1.5rem;
    color: #5b5d5f
}

.content-slide h1.text-intro {
    font-size: 5rem
}

.content-slide p.text-intro {
    font-size: 3rem
}

.content-slide p.text-intro .element {
    padding-bottom: 10px;
}

.content-slide p.resume {
    padding: 0 10rem
}

.content-slide .action-btn {
    background: #1428a0;
    font-weight: 400;
    padding: 1rem 2.5rem;
    color: #fff;
    position: relative;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    border-radius: 10rem;
    border: 1px solid #1428a0;
    display: inline-block;
    margin-top: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden
}

.content-slide .action-btn:after {
    font-family: 'FontAwesome';
    content: '\f0a2';
    position: absolute;
    opacity: 0;
    top: 4px;
    right: -2rem;
    font-size: 2rem;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-animation: ring 1.5s infinite linear;
    -moz-animation: ring 1.5s infinite linear;
    animation: ring 1.5s infinite linear
}

@-webkit-keyframes ring {
    0% {
        -webkit-transform: rotate(0deg)
    }
    6.25% {
        -webkit-transform: rotate(-2deg)
    }
    12.5% {
        -webkit-transform: rotate(5deg)
    }
    18.75% {
        -webkit-transform: rotate(-10deg)
    }
    25% {
        -webkit-transform: rotate(15deg)
    }
    31.25% {
        -webkit-transform: rotate(-20deg)
    }
    37.5% {
        -webkit-transform: rotate(25deg)
    }
    43.75% {
        -webkit-transform: rotate(-30deg)
    }
    50% {
        -webkit-transform: rotate(35deg)
    }
    56.25% {
        -webkit-transform: rotate(-30deg)
    }
    62.5% {
        -webkit-transform: rotate(25deg)
    }
    68.75% {
        -webkit-transform: rotate(-20deg)
    }
    75% {
        -webkit-transform: rotate(15deg)
    }
    81.25% {
        -webkit-transform: rotate(-10deg)
    }
    87.5% {
        -webkit-transform: rotate(5deg)
    }
    93.75% {
        -webkit-transform: rotate(-2deg)
    }
    100% {
        -webkit-transform: rotate(0deg)
    }
}

@-moz-keyframes ring {
    0% {
        -moz-transform: rotate(0deg)
    }
    6.25% {
        -moz-transform: rotate(-2deg)
    }
    12.5% {
        -moz-transform: rotate(5deg)
    }
    18.75% {
        -moz-transform: rotate(-10deg)
    }
    25% {
        -moz-transform: rotate(15deg)
    }
    31.25% {
        -moz-transform: rotate(-20deg)
    }
    37.5% {
        -moz-transform: rotate(25deg)
    }
    43.75% {
        -moz-transform: rotate(-30deg)
    }
    50% {
        -moz-transform: rotate(35deg)
    }
    56.25% {
        -moz-transform: rotate(-30deg)
    }
    62.5% {
        -moz-transform: rotate(25deg)
    }
    68.75% {
        -moz-transform: rotate(-20deg)
    }
    75% {
        -moz-transform: rotate(15deg)
    }
    81.25% {
        -moz-transform: rotate(-10deg)
    }
    87.5% {
        -moz-transform: rotate(5deg)
    }
    93.75% {
        -moz-transform: rotate(-2deg)
    }
    100% {
        -moz-transform: rotate(0deg)
    }
}

@keyframes ring {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    6.25% {
        -webkit-transform: rotate(-2deg);
        -moz-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
        transform: rotate(-2deg)
    }
    12.5% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    18.75% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    25% {
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -o-transform: rotate(15deg);
        transform: rotate(15deg)
    }
    31.25% {
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg)
    }
    37.5% {
        -webkit-transform: rotate(25deg);
        -moz-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
        -o-transform: rotate(25deg);
        transform: rotate(25deg)
    }
    43.75% {
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        -o-transform: rotate(-30deg);
        transform: rotate(-30deg)
    }
    50% {
        -webkit-transform: rotate(35deg);
        -moz-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
        -o-transform: rotate(35deg);
        transform: rotate(35deg)
    }
    56.25% {
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        -o-transform: rotate(-30deg);
        transform: rotate(-30deg)
    }
    62.5% {
        -webkit-transform: rotate(25deg);
        -moz-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
        -o-transform: rotate(25deg);
        transform: rotate(25deg)
    }
    68.75% {
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg)
    }
    75% {
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -o-transform: rotate(15deg);
        transform: rotate(15deg)
    }
    81.25% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    87.5% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    93.75% {
        -webkit-transform: rotate(-2deg);
        -moz-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
        transform: rotate(-2deg)
    }
    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

.content-slide .action-btn:hover {
    background: #1a33cd;
    color: #fff;
    border-color: #1428a0;
    padding-right: 4.5rem
}

.content-slide .action-btn:hover:after {
    opacity: 1;
    right: 1.5rem
}


/*-----------------------------------------------

                 5. Services


------------------------------------------------*/

.services .box-info {
    padding: 0;
    text-align: center
}

.services .box-info-light {
    padding: 3rem 3rem 0;
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0
}

.services .box-info-light i {
    color: #6564dc;
    font-size: 36px;
    line-height: 1.4;
    display: inline-block;
    padding: 2px;
    margin-bottom: 20px
}

.box-info-light:hover i {
    margin-bottom: 25px;
    margin-top: -5px
}


/*-----------------------------------------------

                  6. Portfolio


------------------------------------------------*/

#filters {
    list-style: none;
    padding: 0;
    margin: 50px 0;
    text-align: center
}

#filters > li {
    display: inline-block;
    position: relative;
    padding: 8px 16px;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    color: #666;
    cursor: pointer
}

#filters > li:before {
    content: "/";
    position: absolute;
    left: -5px;
    font-size: 1rem;
    line-height: 18px;
    color: #666
}

#filters > li:first-child:before {
    content: none
}

#filters > li.active {
    color: #6564dc
}

.portfolio-item {
    margin-bottom: 30px
}

.portfolio-item img {
    width: 100%
}

.portfolio-column {
    position: relative;
    width: 100%;
    transition: all 1s;
}

.portfolio-column:hover .portfolio-content {
    opacity: 1;
    cursor: pointer
}

.portfolio-content {
    position: absolute;
    z-index: 201;
    text-align: left;
    top: 30px;
    width: 100%;
    opacity: 0
}

.portfolio-content h3 {
    font-size: 1.9rem;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    padding-left: 30px;
    opacity: 0;
    transition: all 0.6s
}

.portfolio-column:hover .portfolio-content h3 {
    margin-top: 0;
    opacity: 1
}

.portfolio-content p {
    color: #6564dc;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: -30px;
    padding: 10px 30px;
    opacity: 0;
    transition: all 0.9s
}

.portfolio-column:hover .portfolio-content p {
    margin-top: 0;
    opacity: 1
}

.portfolio-content hr {
    width: 40px;
    height: 1px;
    border: 0;
    background-color: #5b5d5f;
    margin: 20px 0 0 30px;
    position: relative
}

.portfolio-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    top: 0;
    z-index: 200;
    opacity: 0
}

.portfolio-column:hover .portfolio-overlay {
    opacity: 0.9
}


#project-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    display: none;
    max-height: 100%;
    overflow-y: scroll
}

#project-modal .modal-dialog {
    position: absolute;
    z-index: 2147483647;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0;
    margin: 0;
    background-color: #fff
}

#project-modal .modal-content {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    padding: 25px
}

#project .title p {
    font-size: 1.7rem
}

#project p {
    font-size: 1.5rem;
    text-align: center;
    max-width: 780px;
    margin: 0 auto 30px
}

.project-media {
    max-width: 780px;
    margin: 0 auto
}

#modal-close {
    color: #666;
    font-size: 5rem;
    padding: 5px;
    position: absolute;
    top: -10px;
    right: 20px;
    text-align: center;
    z-index: 100;
    width: 50px;
    height: 50px;
    background: none;
    border: none
}

.modal-open {
    padding-right: 0!important
}


/* project2.html */

.video-container {
    width: 100%;
    position: relative;
    padding: 0;
    padding-bottom: 60%
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0
}


/*-----------------------------------------------

                  7. About


------------------------------------------------*/

.about-part {
    text-align: left
}

.about-part .about-image {
    width: 100%
}

.about-right a {
    font-size: 20px;
    font-weight: 700;
    padding-top: 30px;
    color: #2D2F31
}

.about-right a > i {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    visibility: hidden;
    left: 100px;
    opacity: 0;
    transition: all 3s
}

.about-right a:hover i {
    position: absolute;
    visibility: visible;
    bottom: 0;
    opacity: 1;
    left: 150px
}


/*-----------------------------------------------

                  8. Contact


------------------------------------------------*/

.group {
    position: relative;
    margin-top: 35px;
    margin-bottom: 35px
}

.inputMaterial {
    background-color: transparent;
    font-size: 1.5rem;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575
}

.inputMaterial:focus {
    outline: none
}


/* LABEL ======================================= */

label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all
}


/* active state */

.inputMaterial:focus ~ label,
.inputMaterial:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #2D2F31
}


/* BOTTOM BARS ================================= */

.bar {
    position: relative;
    display: block;
    width: 100%
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #6564dc;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all
}

.bar:before {
    left: 50%
}

.bar:after {
    right: 50%
}


/* active state */

.inputMaterial:focus ~ .bar:before,
.inputMaterial:focus ~ .bar:after {
    width: 50%
}


/* active state */

.inputMaterial:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease
}

#block-answer {
    position: absolute;
    margin-top: 1rem;
    text-align: left;
    color: #757A86
}

.info-contact {
    margin-top: 4rem;
    text-align: center
}

.info-contact a {
    color: rgba(39, 46, 56, 0.7)
}

.info-contact a:hover,
.info-contact a:focus {
    color: rgba(39, 46, 56, 1)
}

.list-info {
    text-align: center;
}

.info-contact .list-info i {
    color: #6564dc;
    padding-right: 10px;
}

.info-contact .list-info i:hover {
    color: #272e38
}


/*-----------------------------------------------

                  9. Custom Scrollbar


------------------------------------------------*/

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background: #fff
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background: #fff
}

.mCSB_scrollTools {
    position: absolute;
    width: 5px;
    left: auto;
    top: 10rem;
    right: 2rem;
    bottom: 0;
    z-index: 100000;
    height: calc(100% - 25rem);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.mCSB_scrollTools .mCSB_draggerRail {
    width: 20px;
    height: 100%;
    margin: 0;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    border-radius: 5rem;
    background-color: rgba(39, 46, 56, 0.7);
    filter: "alpha(opacity=40)";
    -ms-filter: "alpha(opacity=40)"
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    position: relative;
    width: 20px;
    right: 2px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    border-radius: 5rem;
    text-align: center
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(255, 255, 255, 0.5)
}

/*-----------------------------------------------

           10. Responsive / Media Queries


------------------------------------------------*/

@media only screen and (max-width: 1024px) {
    .top-bar .top-bar-left {
        padding-left: 15px
    }
    .top-bar .top-bar-right {
        padding-right: 15px
    }
    .sl-slider-wrapper {
        top: 50px;
        left: 0;
        bottom: 0;
        right: 0;
        box-shadow: none
    }
    .content-slide p.resume {
        padding: 0
    }
}

@media only screen and (max-width: 1023px) {
    .about-right {
        margin-top: 30px;
    }  
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 6rem
    }
    .content-slide .container {
        padding: 13rem 6rem 20rem
    }
    .content-slide .action-btn:after {
        display: none
    }
    .content-slide .action-btn:hover {
        padding-right: 2.5rem
    }
    #nav-arrows {
        display: none !important
    }
}

@media only screen and (max-width: 767px) {
    .top-bar {
        padding: 0
    }
    .top-bar-left {
        display: none
    }
    .top-bar-right {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 0.8rem;
        text-align: center
    }
    .nav-multi-square {
        float: none
    }
    .nav-multi-square .nav-square {
        padding: 0 10px
    }
    .portfolio-item {
        height: 250px;
        overflow-y: hidden
    }
}

@media only screen and (max-width: 480px) {
    .content-slide .container {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 15rem
    }
    .content-slide .container h1 {
        font-size: 3rem
    }
    .content-slide .container h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
        text-align: left
    }
    .content-slide .container p {
        font-size: 1.4rem
    }
    .content-slide .container p.resume {
        text-align: left
    }
    .content-slide .container .box-info-light {
        text-align: left
    }
    .mCSB_scrollTools {
        right: 0;
        height: calc(100% - 19rem)
    }
    .nav-multi-square {
        font-size: 1rem
    }
    .portfolio-item {
        height: 200px;
        overflow-y: hidden
    }
}

@media only screen and (max-width: 360px) {
    .top-bar-right {
        padding-left: 0;
        padding-right: 0
    }
    .nav-multi-square .nav-square {
        padding: 0 7px
    }
    .list-info {
        text-align: left;
    }
}

@media only screen and (max-width: 320px) {
    .nav-multi-square {
        padding: 0 0 0 10px
    }
    .nav-multi-square .nav-square {
        padding: 0 5px
    }
}

@media screen and (max-device-width: 667px) and (orientation: landscape) {
    .top-bar {
        padding: 1rem 2rem 0.7rem
    }
    .top-bar .top-bar-left {
        text-align: left;
        width: 60%;
        margin-top: 0
    }
    .top-bar .top-bar-right {
        text-align: right;
        width: 40%;
        margin-top: 0
    }
    .nav-multi-square {
        height: 6rem;
        font-size: 1rem
    }
    .content-slide .container {
        padding: 7rem 6rem 10rem
    }
    .content-slide .container h1 {
        font-size: 3rem
    }
    .content-slide .container h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
        text-align: left
    }
    .content-slide .container p {
        font-size: 1.4rem
    }
    .content-slide .container p.resume {
        text-align: left
    }
    .content-slide .container .box-info-light {
        text-align: left
    }
    .mCSB_scrollTools {
        top: 7rem;
        height: calc(100% - 15rem)
    }
}
